/**/

@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url("../fonts/Roboto-Thin.eot");
    src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url("../fonts/Roboto-Light.eot");
    src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("../fonts/Roboto-Regular.eot");
    src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.eot");
    src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.eot");
    src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

body {
    background: #fff;
    background: -moz-radial-gradient(center, circle cover, #F9F2E7 50%, #fff 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #F9F2E7), color-stop(100%, #fff));
    background: -webkit-radial-gradient(center, circle cover, #F9F2E7 50%, #fff 100%);
    background: -o-radial-gradient(center, circle cover, #F9F2E7 50%, #fff 100%);
    background: -ms-radial-gradient(center, circle cover, #F9F2E7 50%, #fff 100%);
    background: radial-gradient(center, circle cover, #F9F2E7 50%, #fff 100%);
    background-color: #F9F2E7;
}

body * {
    font-family: sans-serif !important;
    font-weight: 300 !important;
    letter-spacing: 1pt !important;
}

body.platform-ios * {
    font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif !important;
}

body.platform-android * {
    font-family: "Roboto", sans-serif !important;
}

#fixed_icon {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 5% !important;
    max-width: 5% !important;
    z-index: 99 !important;
}

.user-convoy {
    border: 1px solid #69707a !important;
    padding-bottom: 1rem !important;
    margin-top: 1rem !important;
}

.dev-row {
    padding-top: 1rem !important;
    border: 1px solid #69707a !important;
    margin-bottom: 1rem !important;
}

.col-xs > img {
    max-width: 90% !important;
}

.pres-row {
    margin-bottom: 1rem !important;
}

.pres-row > div > h4 {
    /*text-align: left !important;*/
}

#circle {
    /*border: 2px solid #69707a !important;*/
    border: 2px solid #00A8C6 !important;
    border-radius: 50% !important;
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.img-store {
    margin: 0px !important;
    width: 50% !important;
}

.img-store-apple {
    float: right !important;
    margin-right: 1rem !important;
}

.img-store-android {
    float: left !important;
    margin-left: 1rem !important;
}


/*
	MISCELLANEOUS
*/

.video {
    /*max-height: 720px !important;*/
}

.ion-color-assertive {
    color: #ef473a !important;
}

.quote {
    font-style: italic !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
    padding: 2rem !important;
}

.hide-me {
    display: none !important;
}

.visibility-me {
    visibility: hidden !important;
}

i.ion-icon {
    color: #69707a;
}

a > i.ion-icon {
    color: inherit;
}

.ul-tiny > li {
    font-size: 50% !important;
}

.ul-small > li {
    font-size: 66% !important;
}

.table-small p {
    margin: 0px;
}

.table-small th,
.table-small td {
    font-size: 66%;
}

.img0 {
    border: none !important;
    box-shadow: none !important;
    background-color: inherit !important;
}

.t-inherit {
    text-transform: inherit !important;
}

.t-micro {
    font-size: 1rem !important;
}

.t-tiny {
    font-size: 1.2rem !important;
}

.t-small {
    font-size: 1.4rem !important;
}

.t-normal {
    font-size: 1.6rem !important;
}

.t-size-15 {
    font-size: 1.5rem !important;
}

.t-size-16 {
    font-size: 1.6rem !important;
}

.t-size-17 {
    font-size: 1.7rem !important;
}

.t-size-18 {
    font-size: 1.8rem !important;
}

.t-big {
    font-size: 1.8rem !important;
}

.t-huge {
    font-size: 2rem !important;
}

.t-massive {
    font-size: 2.4rem !important;
}

.t-h1-icon {
    font-size: 800% !important;
    line-height: 0px !important;
}

.t-h1-icon > i.ion-icon {
    /*color: #00A8C6 !important;*/
}

.t-h3-icon {
    font-size: 400% !important;
    line-height: 0px !important;
}

.t-h4-icon {
    font-size: 300% !important;
    line-height: 0px !important;
}

.t-h5-icon {
    font-size: 200% !important;
    line-height: 0px !important;
}

.t-weight-400 {
    font-weight: 400 !important;
}

.t-upper {
    text-transform: uppercase !important;
}

.t-left {
    text-align: left !important;
}

.t-center {
    text-align: center !important;
}

.t-right {
    text-align: right !important;
}

.t-white {
    color: white !important;
}

.t-black {
    color: #69707a !important;
}

.t-bold {
    font-weight: 400 !important;
}

.t-bolder {
    font-weight: 600 !important;
}

.t-under {
    text-decoration: underline !important;
}

.t-italic {
    font-style: italic !important;
}

.t-fleft {
    float: left;
}

.t-fright {
    float: right;
}

.t-pad0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.t-marg1 {
    margin: 1rem !important;
}

.t-icon > i {
    font-size: 200% !important;
}

.t-img {
    padding-top: 10px !important;
    height: 74px !important;
}

.t-money {
    margin-right: 1rem !important;
}

.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}

.marg0 {
    margin: 0px !important;
}

.marg1-tb {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.marg1-b {
    margin: 0px 0px 1rem 0px !important;
}

.pad0 {
    padding: 0px !important;
}

.pad05-lr {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.pad05 {
    padding: 0.5rem !important;
}

.pad2-tb {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pad-top1 {
    padding-top: 1rem;
}

.pad-top05 {
    padding-top: 0.5rem;
}

.marg0-t {
    margin-top: 0px !important;
}

.marg0-b {
    margin-bottom: 0px !important;
}

.pad2-t {
    padding-top: 2rem !important;
}

.pad1-b {
    padding-bottom: 1rem !important;
}

.marg05-b {
    margin-bottom: 0.5rem !important;
}

.marg-top1 {
    margin-top: 1rem !important;
}

.marg-hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.marg0-t05 {
    margin: 0.5rem 0px 0px 0px !important;
}

.border0 {
    border: none !important;
}

.opacity0 {
    opacity: 0 !important;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #69707a !important;
}


/*p > a,*/

a > li,
li > a,
a > p,

/*h1 > a,*/

a > h1,

/*h2 > a,*/

a > h2,

/*h3 > a,*/

a > h3,

/*h4 > a,*/

a > h4,

/*h5 > a,*/

a > h5,

/*h6 > a,*/

a > h6 {
    color: inherit !important;
}

.big-data-table {
    font-size: 75% !important;
}

.big-data-table > thead > tr > th,
.big-data-table > tbody > tr > td {
    border-color: #69707a !important;
    border-width: 4px;
}

.big-data-source {
    font-size: 80% !important;
    width: 40%;
}

.big-data-calc {
    font-size: 80% !important;
}

.img-chart3 {
    width: 50%;
}

.table-expenses td:nth-child(2) {
    /* for the notes column */
    width: 33% !important;
    font-size: 50%;
}


/*
	THEME
*/

h1 {
    /*color: #00A8C6 !important;*/
}

hr {
    /*border-color: #00A8C6 !important;*/
    border-color: #69707a !important;
    border-style: solid;
}

img.img-block {
    width: 100%;
    max-width: inherit !important;
}

.reveal section img {
    border-color: #69707a;
}

.reveal table th,
.reveal table td {
    color: #69707a;
}

.reveal a {
    color: #00A8C6;
}

.reveal a:hover {
    color: #40C0CB;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
    color: #00A8C6;
    border-left-color: #00A8C6;
}

.reveal .controls .navigate-right.enabled:hover {
    color: #40C0CB;
    border-left-color: #40C0CB;
}

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
    color: #00A8C6;
    border-right-color: #00A8C6;
}

.reveal .controls .navigate-left.enabled:hover {
    color: #40C0CB;
    border-right-color: #40C0CB;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
    display: none;
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
    display: none;
}


/*






















































*/

